{% extends 'global/base.html' %}
{% comment %} usamos o extends com o caminho para extender de uma página HTML, completando da forma desejada 
Nesse caso estamos estendendo a home de forma excluisa para os authores, além disso 
o extends deve ser a primeira tag no doc parcial, não pode ter nem comentário antes {% endcomment %}
{% comment %} Aqui estamos criando um bloco de conteúdo que substitituir a pagina que estamos extendendo
é necessário usar o memso nome do bloco{% endcomment %}
{% block title %}Login | {% endblock title %}

{% block content %}
  <div class="main-content center container">
    <h2>Login</h2>
  </div>

  {% comment %} Aqui estamos carregando as msg de erros e o formulário {% endcomment %}
  {% include 'global/partials/messages.html' %}
  {% include 'global/partials/form.html' %} 
  
{% endblock content %}