{% extends 'global/base.html' %}
{% comment %} usamos o extends com o caminho para extender de uma página HTML, completando da forma desejada 
Nesse caso estamos estendendo a home de forma excluisa para os authores, além disso 
o extends deve ser a primeira tag no doc parcial, não pode ter nem comentário antes {% endcomment %}
{% comment %} Aqui estamos criando um bloco de conteúdo que substitituir a pagina que estamos extendendo
é necessário usar o memso nome do bloco{% endcomment %}
{% block title %}Login | {% endblock title %}

{% block content %}
  <div class="main-content center container">
    <h2>Login</h2>
    {% comment %} Verificamos se o usuário está logado e então exibimos uma msg para ele {% endcomment %}
    {% if request.user.is_authenticated %}
    <div>
        Your are logged in with 
        {{ request.user.username }}. 
        Please, 
        <form class="inline-form" action="{% url 'authors:logout' %}" method='POST'>
          {% csrf_token %}
          <input type="hidden" name="username" value="{{ request.user.username }}">
          {% comment %} Aqui temos um botão para o user deslogar {% endcomment %}
          <button class="plaintext-button" type="submit">click here</button>
        </form> to logout.
      </div>
    {% endif %}
  </div>

  {% comment %} Aqui estamos carregando as msg de erros e o formulário {% endcomment %}
  {% include 'global/partials/messages.html' %}
  {% include 'global/partials/form.html' %} 
  
{% endblock content %}